@font-face {
  font-family: 'icomoon';
  src: url("../icomoon/fonts/icomoon.eot?lbv41h");
  src: url("../icomoon/fonts/icomoon.eot?lbv41h#iefix") format("embedded-opentype"), url("../icomoon/fonts/icomoon.ttf?lbv41h") format("truetype"), url("../icomoon/fonts/icomoon.woff?lbv41h") format("woff"), url("../icomoon/fonts/icomoon.svg?lbv41h#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
@media screen and (min-width: 320px) {
  html {
    font-size: 21.3333333333px; } }
@media screen and (min-width: 360px) {
  html {
    font-size: 24px; } }
@media screen and (min-width: 375px) {
  html {
    font-size: 25px; } }
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px; } }
@media screen and (min-width: 400px) {
  html {
    font-size: 26.6666666667px; } }
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px; } }
@media screen and (min-width: 424px) {
  html {
    font-size: 28.2666666667px; } }
@media screen and (min-width: 480px) {
  html {
    font-size: 32px; } }
@media screen and (min-width: 540px) {
  html {
    font-size: 36px; } }
@media screen and (min-width: 720px) {
  html {
    font-size: 48px; } }
@media screen and (min-width: 750px) {
  html {
    font-size: 50px; } }
@media screen and (min-width: 992px) {
  html {
    font-size: 14px; }

  .blank20 {
    width: 100%;
    height: 20px; }

  .blank25 {
    width: 100%;
    height: 25px; } }
@media screen and (max-width: 992px) {
  .blank20 {
    width: 100%;
    height: 0.8rem; }

  .blank25 {
    width: 100%;
    height: 1rem; } }
@media screen and (max-width: 992px) {
  .cake-navbar {
    height: 2.4rem;
    padding: 0 1rem !important;
    background-color: #FFFFFF !important; }
    .cake-navbar .cake-navbar-brand {
      padding: 0 !important;
      padding-bottom: 0.32rem !important;
      font-size: 0;
      vertical-align: top;
      flex-grow: 1; }
    .cake-navbar .cake-change-lang {
      width: 1.04rem;
      height: 1.04rem;
      border: 1px solid #777777;
      color: #777777;
      line-height: 0.96rem;
      font-size: 0.48rem;
      text-align: center;
      border-radius: 50%;
      cursor: pointer; }
    .cake-navbar .cake-navbar-toggler {
      border: 0;
      padding: 0 0 0.24rem 0.4rem; }
      .cake-navbar .cake-navbar-toggler .cake-navbar-toggler-icon {
        width: 1.2rem;
        height: 1.2rem; }
    .cake-navbar .cake-collapse {
      background-color: rgba(0, 0, 0, 0.1);
      padding: 0 10px;
      font-size: 0.72rem;
      z-index: 10; }
      .cake-navbar .cake-collapse .cake-header-brand-menu {
        background-color: rgba(0, 0, 0, 0.1); }
        .cake-navbar .cake-collapse .cake-header-brand-menu a {
          font-size: 0.72rem; } }
@media screen and (min-width: 992px) {
  .cake-navbar {
    height: 80px;
    padding: 0 30px !important;
    background-color: #FFFFFF !important;
    font-size: 16px; }
    .cake-navbar .cake-active {
      color: #F8ADA3 !important; }
    .cake-navbar .cake-navbar-brand {
      padding: 0 !important;
      padding-bottom: 8px !important;
      font-size: 0;
      vertical-align: top;
      flex-grow: 1; }
    .cake-navbar .cake-change-lang {
      width: 30px;
      height: 30px;
      border: 1px solid #777777;
      margin-left: 10px;
      color: #777777;
      line-height: 28px;
      font-size: 12px;
      text-align: center;
      border-radius: 50%;
      order: 1;
      cursor: pointer; }
      .cake-navbar .cake-change-lang:hover {
        color: #F8ADA3; }
    .cake-navbar .cake-collapse {
      flex-grow: 0; }
      .cake-navbar .cake-collapse li {
        padding: 0 50px; }
        .cake-navbar .cake-collapse li .cake-nav-link {
          line-height: 80px;
          padding: 0; }
          .cake-navbar .cake-collapse li .cake-nav-link:hover {
            text-decoration: none;
            color: #F8ADA3; }
        .cake-navbar .cake-collapse li .cake-header-brand-menu {
          top: 76px;
          left: -40px;
          width: 218px;
          padding: 0;
          text-align: center; }
          .cake-navbar .cake-collapse li .cake-header-brand-menu a {
            padding: 20px 0;
            color: #777777;
            font-size: 14px; }
            .cake-navbar .cake-collapse li .cake-header-brand-menu a:hover {
              background-color: #F8ADA3;
              color: #fff; } }

/*# sourceMappingURL=header.css.map */
