@charset 'utf-8';

// 配色方案：cake_boot v1.0.0
$cakeWhite: #FFFFFF;
$cakeGrayWhite: #F5F5F5;
$cakeDeepGray: #777777;
$cakeCoral: #F8ADA3;
$cakeBlack: #353535;
$cakemdBlack: #21201E;
$cakeDeepBlack: #111111;